

h1{
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.btn{
    margin-left: 100px;
}
.div-container{
    margin-top: 50px;
    margin-left: 200px;

}

.div{
    height: 200px;
    width: 80%;
    border: 1px solid black;
    margin-left: 50px;
}
 .navbar-container {
  position: relative;
}

.search-bar {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.search-bar input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  font-size: 14px;
}

/* Additional styling for responsiveness */
@media screen and (max-width: 768px) {
  .search-bar {
    right: 10px;
  }
}
