.heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.image-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
  }
  
.diamond-image {
    width: 30%; /* Adjust width as needed */
    margin-bottom: 20px; /* Adjust margin-bottom for desired spacing */
  }

  .button {
    background-color: #eea19b;
    color: white;
    width: 30%;
    height: 50px;
    margin: 0 auto; /* Center the div horizontally */
    border-radius: 5px;
    border-bottom: none;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}
.button a {
  text-decoration: none; /* Remove underline */
}

.button .btext {
    margin: 0;
    color: white; /* Reset margin to center the text */
}

.offerimg {
  width: 100%; /* Ensure the video takes the full width of its container */
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the video horizontally */
}

.offerimg img{
  margin-top: 50px;
  width: 100%; /* Make the video responsive */
  height: auto; /* Allow the height to adjust proportionally */
}








.button {
  text-align: center;
}

.button a {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}



@media (max-width: 768px) {
  .button a {
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }
}
