.custom-footer {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 10px 0; 
}

.custom-footer-top {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px; 
  margin-bottom: 10px; 
  justify-content: space-between;
}

.custom-footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px; 
}

.custom-footer-section {
  flex: 1;
  margin: 5px; 
}

.custom-footer-section h4 {
  font-size: 14px; 
  margin-bottom: 5px; 
}

.custom-footer-section p, .custom-footer-section p a {
  font-size: 12px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px; 
}

.custom-footer-bottom {
  display: flex;
  height: 40px; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px; 
  background-color: #502b9b;
  color: white;
}

.custom-footer-social a {
  margin: 0 5px; 
  color: white;
  text-decoration: none;
}

.custom-footer-social a i {
  font-size: 16px; 
}

.custom-footer-links {
  display: flex;
  flex-wrap: wrap;
}

.custom-footer-links a {
  margin: 0 5px; 
  font-size: 12px; 
  text-decoration: none;
  color: white;
}

.custom-footer-copyright {
  font-size: 10px; 
  text-align: center;
  margin-top: 10px; 
  color: #333;
}
